{% extends "layout.html" %}

{% block content %}
<div class='w-100 h-100 d-flex align-items-center justify-content-center'>

<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">FAQ</h5>
    <div class="accordion" id="home_accordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Профиль
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#home_accordion">
          <div class="accordion-body">
            В <strong>странице профиля</strong> можно поменять свой пароль.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Инструменты
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#home_accordion">
          <div class="accordion-body">
            Секция <strong>инструменты</strong> содержит информацию о полезных сервисах, которые можно использовать в работе.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock content %}
