{% extends "layout.html" %}

{% block content %}
<div class="align-self-center d-flex justify-content-center col-12">
<div class="card bg-light col-md-3 h-50">
    <form method="POST" 
          action="{{ url_for("reset_password_user_logged_in") }}"
          class="panel">
        {{ form.hidden_tag() }}
        <fieldset class="pt-3 pb-3 ps-3 pe-3">
            <legend class="card-header">{{ title }}</legend> 
                <div>
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                    {% if form.password.errors %}
                        {{ form.password() }}
                        <div>
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div>
                    {{ form.confirm.label(class="form-label") }}
                    {{ form.confirm(class="form-control") }}
                    {% if form.confirm.errors %}
                        {{ form.confirm() }}
                        <div>
                            {% for error in form.confirm.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
        </fieldset>
        <div class="ps-3 pb-3 border">
            {{ form.submit(class="btn btn-outline-primary btn-sm") }}
        </div>
    </form>
</div>
</div>
{% endblock content %}
